h1{
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(65, 62, 62);
    
}
header{
    background-color: #cccccc;
}
body{
    margin: 0;
    text-align: center;

}
.vers{
    text-align: center;
    

}
.MAIN{
    width: 800px;
    text-align: center;
}